@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title"><strong>@ViewBag.Title</strong></h2>
    <h3>@ViewBag.Message</h3>

    <h6>Dirección: Calle Wallaby, 42, Sídney</h6>
    <br />
    <h6>Código Postal: 66666</h6>

    <address>
        <strong>Teléfono Fijo:</strong> +34 999 999 999 <br /> 
        <strong>Móvil: </strong>+34 666 666 666 <strong>--> Preguntar por: </strong> Paco Albaricoque Melón
    </address>
</main>