@model IEnumerable<Fruteria.ViewModels.ProductosViewModel>
@{
    ViewBag.Title = "ListaCompras";
}

<h2>Lista de Carrito</h2>
<strong>Usuario</strong>: @LoginManager.Instance.GetCurrentUser()






@Html.ActionLink("Volver", "Index", "Carrito")
